:root {
    --dark-purple: #7B03A6;
    --purple: #BF0AFF;
    --light-green: rgb(153, 255, 0);
    --dark-green: #64a600;
    --red: #ff1e00;
}

* {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: monospace;
    box-sizing: border-box;
}

body {
    background: var(--purple);
    background: linear-gradient(180deg, var(--dark-purple), var(--purple));
    height: 100vh;
}